In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
#read csvs
df1 = pd.read_csv('CSV_files/HCMST_ver_3.csv')
df4 = pd.read_csv('CSV_files/wave_4_supplement.csv')
df5 = pd.read_csv('CSV_files/HCMST_wave_5.csv')
df6 = pd.read_csv('CSV_files/HCMST_wave_6.csv')

C:\Users\Romina\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (76,77,78,79,90,91,92,93,108,150) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# clean df1 (waves 1-3)

In [3]:
df1['qflag'].value_counts()

partnered                                        3009
no spouse or partner or otherwise unqualified     993
Name: qflag, dtype: int64

In [5]:
disQ_at_wv1 = []

for index, row in df1.iterrows():
    if df1.loc[index, 'qflag'] == "no spouse or partner or otherwise unqualified":
        disQ_at_wv1.append(df1['caseid_new'])

print('length of disQ_at_wv1 list:')
print(len(disQ_at_wv1))

length of disQ_at_wv1 list:
993

In [6]:
#remove rows where people are not in relationship (not qualified)
print(df1['qflag'].value_counts())
print('-----')
df1 = df1[df1.qflag!= "no spouse or partner or otherwise unqualified"]
print(df1['qflag'].value_counts())

partnered                                        3009
no spouse or partner or otherwise unqualified     993
Name: qflag, dtype: int64
-----
partnered    3009
Name: qflag, dtype: int64

In [7]:
wave2_full = df1[['caseid_new',
 'w2_deceased',
 'w2_multiname',
 'w2_panelstat',
 'w2_donotcontact',
 'w2_assigned',
 'w2_f1complete',
 'w2_HCMST_interview_fin_yrmo',
 'w2_duration',
 'w2_xmarry',
 'w2_xss',
 'w2_source',
 'w2_q1',
 'w2_q2',
 'w2_q3',
 'w2_q4',
 'w2_q5',
 'w2_q6',
 'w2_q7',
 'w2_q8',
 'w2_q9',
 'w2_q10',
 'w2_broke_up',
 'w2_days_elapsed'
]]

In [8]:
wave2_full.insert(1,"qualified?","")
wave2_full.insert(1,"caseid_wave","")

print(wave2_full["qualified?"].value_counts())
print(wave2_full["caseid_wave"].value_counts())

    3009
Name: qualified?, dtype: int64
    3009
Name: caseid_wave, dtype: int64

In [9]:
for index, row in wave2_full.iterrows():
    wave2_full.loc[index,"qualified?"] = "qualified"
    wave2_full.loc[index,'caseid_wave'] = f'{wave2_full.loc[index,"caseid_new"]}_2'

print(wave2_full["qualified?"].value_counts())
wave2_full

C:\Users\megam\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:480: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

qualified    3009
Name: qualified?, dtype: int64

,caseid_new,caseid_wave,qualified?,w2_deceased,w2_multiname,w2_panelstat,w2_donotcontact,w2_assigned,w2_f1complete,w2_HCMST_interview_fin_yrmo,...,w2_q3,w2_q4,w2_q5,w2_q6,w2_q7,w2_q8,w2_q9,w2_q10,w2_broke_up,w2_days_elapsed
0,22526,22526_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN,still together,390.0
1,23286,23286_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,390.0
3,26315,26315_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,i wanted to break up more,broke up,391.0
6,28536,28536_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN,still together,389.0
7,29584,29584_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,389.0
9,31456,31456_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,32656,32656_2,qualified,not deceased,NaN,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,33536,33536_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN,still together,390.0
12,34341,34341_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,389.0
13,35653,35653_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,other (please describe),[partner] wanted to break up more,broke up,389.0
14,36493,36493_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,we both equally wanted to break up,broke up,378.0
16,38895,38895_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,no,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN,still together,389.0
18,40335,40335_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,other (please describe),[partner] wanted to break up more,broke up,390.0
19,41505,41505_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,other (please describe),we both equally wanted to break up,broke up,389.0
21,43381,43381_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,389.0
22,44486,44486_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,396.0
24,46746,46746_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,389.0
25,48225,48225_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,no,"no, did not marry [partner]",NaN,NaN,NaN,still together,385.0
26,49731,49731_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,389.0
28,51376,51376_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201004.0,...,NaN,NaN,yes,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN,still together,406.0
30,54415,54415_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,i wanted to break up more,broke up,389.0
31,55365,55365_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,no,"no, did not marry [partner]",NaN,NaN,NaN,still together,356.0
32,55686,55686_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,56536,56536_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN,still together,389.0
35,58295,58295_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,no,"no, did not marry [partner]",NaN,NaN,NaN,still together,390.0
37,60743,60743_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,i wanted to break up more,broke up,393.0
38,62283,62283_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,i wanted to break up more,broke up,389.0
40,64331,64331_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,390.0
41,65446,65446_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,other (please describe),we both equally wanted to break up,broke up,389.0
43,66484,66484_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,[partner] wanted to break up more,broke up,356.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,4583501,4583501_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,358.0
3967,4588291,4588291_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,351.0
3968,4590661,4590661_2,qualified,not deceased,NaN,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3969,4591396,4591396_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,yes,yes,"no, did not marry [partner]",NaN,NaN,NaN,still together,351.0
3970,4592421,4592421_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,350.0
3971,4593421,4593421_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,351.0
3973,4596491,4596491_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,351.0
3974,4597381,4597381_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,352.0
3975,4598275,4598275_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,i wanted to break up more,broke up,350.0
3976,4599246,4599246_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,other (please describe),i wanted to break up more,broke up,357.0
3978,4601511,4601511_2,qualified,not deceased,NaN,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,4602424,4602424_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,390.0
3980,4603581,4603581_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,351.0
3981,4605321,4605321_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,421.0
3982,4607235,4607235_2,qualified,not deceased,NaN,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,4608683,4608683_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,201004.0,...,NaN,NaN,no,NaN,NaN,NaN,other (please describe),we both equally wanted to break up,broke up,381.0
3984,4609371,4609371_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3985,4610625,4610625_2,qualified,not deceased,NaN,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,4611531,4611531_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,420.0
3987,4612421,4612421_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,421.0
3988,4613511,4613511_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,361.0
3989,4614621,4614621_2,qualified,not deceased,NaN,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,4617335,4617335_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,no,NaN,NaN,NaN,we broke up,we both equally wanted to break up,broke up,349.0
3993,4618291,4618291_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,371.0
3994,4619421,4619421_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,360.0
3995,4621371,4621371_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,349.0
3996,4622461,4622461_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201006.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,426.0
3999,4626536,4626536_2,qualified,not deceased,NaN,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4000,4627251,4627251_2,qualified,not deceased,NaN,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,4628251,4628251_2,qualified,not deceased,NaN,active kn panelist,all other cases,assigned to survey,completed followup survey,201003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together,348.0

In [10]:
wv2_w = wave2_full[['caseid_new',
 'caseid_wave', #newly added
'qualified?', #newly added                      
                    
 'w2_broke_up',
 'w2_xmarry',           
 'w2_deceased',
#  'w2_multiname',
 'w2_panelstat',
 'w2_donotcontact',
 'w2_assigned',
 'w2_f1complete',
 'w2_HCMST_interview_fin_yrmo',
#  'w2_duration',
 'w2_xss',
#  'w2_source',
 'w2_q1',
 'w2_q5',
 'w2_q2',
 'w2_q3',
 'w2_q4',
 'w2_q6',
 'w2_q7',
 'w2_q8',
 'w2_q9',
 'w2_q10'
 #'w2_days_elapsed'
]]

In [11]:
wv2_w.shape

(3009, 22)

In [12]:
wv2_w

,caseid_new,caseid_wave,qualified?,w2_broke_up,w2_xmarry,w2_deceased,w2_panelstat,w2_donotcontact,w2_assigned,w2_f1complete,...,w2_q1,w2_q5,w2_q2,w2_q3,w2_q4,w2_q6,w2_q7,w2_q8,w2_q9,w2_q10
0,22526,22526_2,qualified,still together,partnered,not deceased,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN
1,23286,23286_2,qualified,still together,married,not deceased,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26315,26315_2,qualified,broke up,partnered,not deceased,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,i wanted to break up more
6,28536,28536_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN
7,29584,29584_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,31456,31456_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,32656,32656_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,33536,33536_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN
12,34341,34341_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,35653,35653_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,other (please describe),[partner] wanted to break up more
14,36493,36493_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,we both equally wanted to break up
16,38895,38895_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,no,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN
18,40335,40335_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,other (please describe),[partner] wanted to break up more
19,41505,41505_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,other (please describe),we both equally wanted to break up
21,43381,43381_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,44486,44486_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46746,46746_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,48225,48225_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,no,"no, did not marry [partner]",NaN,NaN,NaN
26,49731,49731_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,51376,51376_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN
30,54415,54415_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,i wanted to break up more
31,55365,55365_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,no,"no, did not marry [partner]",NaN,NaN,NaN
32,55686,55686_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,56536,56536_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,yes,"no, did not marry [partner]","no, we have not gotten a domestic partnership ...",NaN,NaN
35,58295,58295_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,no,"no, did not marry [partner]",NaN,NaN,NaN
37,60743,60743_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,i wanted to break up more
38,62283,62283_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,i wanted to break up more
40,64331,64331_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,65446,65446_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,other (please describe),we both equally wanted to break up
43,66484,66484_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,[partner] wanted to break up more
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,4583501,4583501_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3967,4588291,4588291_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3968,4590661,4590661_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3969,4591396,4591396_2,qualified,still together,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,yes,NaN,NaN,NaN,yes,"no, did not marry [partner]",NaN,NaN,NaN
3970,4592421,4592421_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3971,4593421,4593421_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,4596491,4596491_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,4597381,4597381_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,4598275,4598275_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,i wanted to break up more
3976,4599246,4599246_2,qualified,broke up,partnered,not deceased,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,other (please describe),i wanted to break up more
3978,4601511,4601511_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,4602424,4602424_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,4603581,4603581_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,4605321,4605321_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,4607235,4607235_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,4608683,4608683_2,qualified,broke up,partnered,not deceased,withdrawn kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,other (please describe),we both equally wanted to break up
3984,4609371,4609371_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3985,4610625,4610625_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,4611531,4611531_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,4612421,4612421_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,4613511,4613511_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,4614621,4614621_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,4617335,4617335_2,qualified,broke up,partnered,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,we broke up,we both equally wanted to break up
3993,4618291,4618291_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,4619421,4619421_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,4621371,4621371_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,4622461,4622461_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,4626536,4626536_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,withdrawn case on noncontact list,not assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4000,4627251,4627251_2,qualified,NaN,NaN,not deceased,withdrawn kn panelist,all other cases,assigned to survey,did not complete followup survey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,4628251,4628251_2,qualified,still together,married,not deceased,active kn panelist,all other cases,assigned to survey,completed followup survey,...,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# WAVE 3

In [13]:
wave3_full = df1[['caseid_new',
 'w3_broke_up',
 'w3_xpartnered',
 'w3_xdeceased',
 'w3_multiname',
 'w3_xss',
 'w3_xlast',
 'w3_xyear',
 'w3_xmonth',
 'w3_xqualified',
 'w3_status',
 'w3_complete',
 'w3_source',
 'w3_HCMST_interview_fin_yrmo',
 'w3_days_elapsed',
 'w3_duration',
 'w3_xmarry',
 'w3_xtype',
 'w3_q1',
 'w3_q2',
 'w3_q3',
 'w3_q4',
 'w3_mbtiming_year',
 'w3_mbtiming_month',
 'w3_q5',
 'w3_q6',
 'w3_q7',
 'w3_q8',
 'w3_q9',
 'w3_q10',
 'w3_nonmbtiming_year',
 'w3_nonmbtiming_month'
]]

In [14]:
print(wave3_full['w3_xqualified'].value_counts())
print('-----------------')

wave3_full.insert(1,"qualified?","")
wave3_full.insert(1,"caseid_wave","")

print(wave3_full["qualified?"].value_counts())
print(wave3_full["caseid_wave"].value_counts())

qualified for wave 3      2689
unqualified for wave 3     320
Name: w3_xqualified, dtype: int64
-----------------
    3009
Name: qualified?, dtype: int64
    3009
Name: caseid_wave, dtype: int64

In [15]:
for index, row in wave3_full.iterrows():
    if wave3_full.loc[index,'w3_xqualified'] == "qualified for wave 3":
        wave3_full.loc[index,"qualified?"] = "qualified"
    elif wave3_full.loc[index,'w3_xqualified'] == "unqualified for wave 3":
        wave3_full.loc[index,"qualified?"] = "disqualified"
    wave3_full.loc[index,'caseid_wave'] = f'{wave3_full.loc[index,"caseid_new"]}_3'

print(wave3_full["qualified?"].value_counts())
wave3_full

qualified       2689
disqualified     320
Name: qualified?, dtype: int64

,caseid_new,caseid_wave,qualified?,w3_broke_up,w3_xpartnered,w3_xdeceased,w3_multiname,w3_xss,w3_xlast,w3_xyear,...,w3_mbtiming_year,w3_mbtiming_month,w3_q5,w3_q6,w3_q7,w3_q8,w3_q9,w3_q10,w3_nonmbtiming_year,w3_nonmbtiming_month
0,22526,22526_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN
1,23286,23286_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26315,26315_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,28536,28536_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN
7,29584,29584_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,31456,31456_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,32656,32656_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,yes,yes,"no, did not marry [xNameP]",NaN,NaN,NaN,NaN,NaN
11,33536,33536_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN
12,34341,34341_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,35653,35653_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,36493,36493_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38895,38895_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,yes,no,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN
18,40335,40335_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,41505,41505_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,43381,43381_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,44486,44486_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46746,46746_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,48225,48225_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,yes,yes,"yes, married [xNameP]",NaN,NaN,NaN,NaN,NaN
26,49731,49731_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,51376,51376_3,qualified,broke up,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,no,NaN,NaN,NaN,We broke up,We both equally wanted to break up,2011.0,February
30,54415,54415_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,55365,55365_3,qualified,broke up,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,no,NaN,NaN,NaN,We broke up,[xNameP] wanted to break up more,2011.0,February
32,55686,55686_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,56536,56536_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,yes,1 year ago,2010.0,...,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN
35,58295,58295_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,yes,yes,"yes, married [xNameP]",NaN,NaN,NaN,NaN,NaN
37,60743,60743_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,62283,62283_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,64331,64331_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,65446,65446_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,66484,66484_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,4583501,4583501_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3967,4588291,4588291_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3968,4590661,4590661_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3969,4591396,4591396_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3970,4592421,4592421_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3971,4593421,4593421_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,4596491,4596491_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,4597381,4597381_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,4598275,4598275_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,4599246,4599246_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3978,4601511,4601511_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,4602424,4602424_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,4603581,4603581_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,4605321,4605321_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,4607235,4607235_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,4608683,4608683_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3984,4609371,4609371_3,qualified,broke up,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,2011.0,March,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3985,4610625,4610625_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,4611531,4611531_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,4612421,4612421_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,4613511,4613511_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,4614621,4614621_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,4617335,4617335_3,disqualified,NaN,unqualified bc broke up at wave 2,not deceased,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3993,4618291,4618291_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,4619421,4619421_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,4621371,4621371_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,4622461,4622461_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,4626536,4626536_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4000,4627251,4627251_3,qualified,NaN,Qualified for follow-up at wave3,not deceased,NaN,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,4628251,4628251_3,qualified,still together,Qualified for follow-up at wave3,not deceased,NaN,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
wv3_w = wave3_full[['caseid_new', 
 'caseid_wave', #newly added
'qualified?', #newly added                   
                    
 'w3_broke_up',
 'w3_xmarry',
 'w3_xdeceased',
'w3_xpartnered',
#  'w3_multiname',
 'w3_xss',
 'w3_xlast',
 'w3_xyear',
#  'w3_xmonth',
 'w3_xqualified',
 'w3_status',
 'w3_complete', # complete wave 3 survey?
#  'w3_source', # online or telephone interview?
 'w3_HCMST_interview_fin_yrmo', # year/month of 3rd wave interview
 'w3_days_elapsed',
#  'w3_duration',
 'w3_xtype', # same-sex or heterosexual?
 'w3_q1', # still married?
 'w3_q2', # still living together?
 'w3_q3', # how did marriage end?                  
 'w3_q4', # who wanted marriage to end more?
 'w3_mbtiming_year',
#  'w3_mbtiming_month',
 'w3_q5', # still in romantic relationship with partner?
 'w3_q6', # currently living with partner?
 'w3_q7', # have you and partner gotten married in last year
 'w3_q8',
  'w3_q9', # how did relationship end
  'w3_q10', # who wanted to break up more
  'w3_nonmbtiming_year' ### year of breakup
#  'w3_nonmbtiming_month'
]]

In [17]:
# print(w3.shape)
# w3 = w3.dropna(how='all',axis=0)
# print(w3.shape)

In [18]:
wv3_w

,caseid_new,caseid_wave,qualified?,w3_broke_up,w3_xmarry,w3_xdeceased,w3_xpartnered,w3_xss,w3_xlast,w3_xyear,...,w3_q3,w3_q4,w3_mbtiming_year,w3_q5,w3_q6,w3_q7,w3_q8,w3_q9,w3_q10,w3_nonmbtiming_year
0,22526,22526_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
1,23286,23286_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26315,26315_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,28536,28536_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
7,29584,29584_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,31456,31456_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,32656,32656_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,yes,yes,"no, did not marry [xNameP]",NaN,NaN,NaN,NaN
11,33536,33536_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
12,34341,34341_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,35653,35653_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,36493,36493_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38895,38895_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,yes,no,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
18,40335,40335_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,41505,41505_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,43381,43381_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,44486,44486_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46746,46746_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,48225,48225_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,yes,yes,"yes, married [xNameP]",NaN,NaN,NaN,NaN
26,49731,49731_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,51376,51376_3,qualified,broke up,Partnered,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,no,NaN,NaN,NaN,We broke up,We both equally wanted to break up,2011.0
30,54415,54415_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,55365,55365_3,qualified,broke up,Partnered,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,no,NaN,NaN,NaN,We broke up,[xNameP] wanted to break up more,2011.0
32,55686,55686_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,56536,56536_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,yes,1 year ago,2010.0,...,NaN,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
35,58295,58295_3,qualified,still together,Partnered,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,yes,yes,"yes, married [xNameP]",NaN,NaN,NaN,NaN
37,60743,60743_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,62283,62283_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,64331,64331_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,65446,65446_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,66484,66484_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,4583501,4583501_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3967,4588291,4588291_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3968,4590661,4590661_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3969,4591396,4591396_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3970,4592421,4592421_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3971,4593421,4593421_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,4596491,4596491_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,4597381,4597381_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,4598275,4598275_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,4599246,4599246_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3978,4601511,4601511_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,4602424,4602424_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,4603581,4603581_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,4605321,4605321_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,4607235,4607235_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,4608683,4608683_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3984,4609371,4609371_3,qualified,broke up,Married,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,divorce,I wanted the [divorce/separation] more.,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3985,4610625,4610625_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,4611531,4611531_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,4612421,4612421_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,4613511,4613511_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,4614621,4614621_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,4617335,4617335_3,disqualified,NaN,NaN,not deceased,unqualified bc broke up at wave 2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3993,4618291,4618291_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,4619421,4619421_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,4621371,4621371_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,4622461,4622461_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,4626536,4626536_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4000,4627251,4627251_3,qualified,NaN,NaN,not deceased,Qualified for follow-up at wave3,NaN,2 years ago,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,4628251,4628251_3,qualified,still together,Married,not deceased,Qualified for follow-up at wave3,no,1 year ago,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Wave 4

In [19]:
wave4_full = df4[[ 'caseid_new',
 'w4_xqualified',
 'w4_status',
 'w4_complete',
  'w4_source',
  'w4_duration',
 'w4_HCMST_interview_fin_yrmo',
 'w4_xtype',
 'w4_xyear',
 'w4_xmonth',
 'w4_xmarry',
 'w4_xlast',
 'w4_xwave1_month',
 'w4_xcivil',
 'w4_xss',
 'w4_q1',
 'w4_q2',
 'w4_quality',
 'w4_attractive',
 'w4_attractive_partner',
 'w4_q3',
 'w4_q4',
 'w4_mbtiming_year',
 'w4_mbtiming_month',
 'w4_q5',
 'w4_q6',
 'w4_q7',
 'w4_mar_year',
 'w4_mar_month',
 'w4_civ_year',
 'w4_q8_a',
 'w4_q8_b',
 'w4_q9',
 'w4_q10',
 'w4_nonmbtiming_year',
 'w4_nonmbtiming_month',
 'relationship_quality_w4',
 'w4_broke_up',
 'w234_combo_breakup'
]]

In [20]:
print(wave4_full['w4_xqualified'].value_counts())
print('-----------------')

wave4_full.insert(1,"qualified?","")
wave4_full.insert(1,"caseid_wave","")

print(wave4_full["qualified?"].value_counts())
print(wave4_full["caseid_wave"].value_counts())

qualified for wave 4      2557
unqualified for wave 4    1445
Name: w4_xqualified, dtype: int64
-----------------
    4002
Name: qualified?, dtype: int64
    4002
Name: caseid_wave, dtype: int64

In [21]:
for index, row in wave4_full.iterrows():
    if wave4_full.loc[index,'w4_xqualified'] == "qualified for wave 4":
        wave4_full.loc[index,"qualified?"] = "qualified"
    elif wave4_full.loc[index,'w4_xqualified'] == "unqualified for wave 4":
        wave4_full.loc[index,"qualified?"] = "disqualified"
    wave4_full.loc[index,'caseid_wave'] = f'{wave4_full.loc[index,"caseid_new"]}_4'

print(wave4_full["qualified?"].value_counts())
wave4_full

qualified       2557
disqualified    1445
Name: qualified?, dtype: int64

,caseid_new,caseid_wave,qualified?,w4_xqualified,w4_status,w4_complete,w4_source,w4_duration,w4_HCMST_interview_fin_yrmo,w4_xtype,...,w4_civ_year,w4_q8_a,w4_q8_b,w4_q9,w4_q10,w4_nonmbtiming_year,w4_nonmbtiming_month,relationship_quality_w4,w4_broke_up,w234_combo_breakup
0,22526,22526_4,qualified,qualified for wave 4,Active,Yes,On-line,3.0,201303.0,NaN,...,NaN,"No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
1,23286,23286_4,qualified,qualified for wave 4,Active,Yes,On-line,0.0,201303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
2,25495,25495_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26315,26315_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
4,27355,27355_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,27695,27695_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,28536,28536_4,qualified,qualified for wave 4,Active,Yes,On-line,1.0,201303.0,same-sex couple,...,NaN,"No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN,NaN,3.0,still together,"still together at w4, or some follow-up w/o br..."
7,29584,29584_4,qualified,qualified for wave 4,Active,Yes,On-line,1.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
8,30393,30393_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,31456,31456_4,qualified,qualified for wave 4,Withdrawn,No,NaN,NaN,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,32656,32656_4,qualified,qualified for wave 4,Retired,No,NaN,NaN,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"still together at w4, or some follow-up w/o br..."
11,33536,33536_4,qualified,qualified for wave 4,Active,Yes,On-line,1.0,201303.0,same-sex couple,...,NaN,"No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
12,34341,34341_4,qualified,qualified for wave 4,Withdrawn,Yes,On-line,221.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
13,35653,35653_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
14,36493,36493_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
15,37656,37656_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38895,38895_4,qualified,qualified for wave 4,Withdrawn,No,NaN,NaN,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"still together at w4, or some follow-up w/o br..."
17,39415,39415_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,40335,40335_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
19,41505,41505_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
20,42645,42645_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,43381,43381_4,qualified,qualified for wave 4,Active,Yes,On-line,0.0,201303.0,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
22,44486,44486_4,qualified,qualified for wave 4,Withdrawn,Yes,On-line,4.0,201303.0,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,broke up,"broke up at wave 2, 3, or 4"
23,45653,45653_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46746,46746_4,qualified,qualified for wave 4,Active,Yes,On-line,2.0,201303.0,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
25,48225,48225_4,qualified,qualified for wave 4,Active,Yes,On-line,2.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
26,49731,49731_4,qualified,qualified for wave 4,Active,Yes,On-line,2.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
27,50605,50605_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,51376,51376_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
29,53436,53436_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3972,4595643,4595643_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,4596491,4596491_4,qualified,qualified for wave 4,Active,Yes,On-line,30.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
3974,4597381,4597381_4,qualified,qualified for wave 4,Withdrawn,Yes,On-line,1.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
3975,4598275,4598275_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
3976,4599246,4599246_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
3977,4600215,4600215_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3978,4601511,4601511_4,qualified,qualified for wave 4,Do not call,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,4602424,4602424_4,qualified,qualified for wave 4,Active,Yes,On-line,5.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,broke up,"broke up at wave 2, 3, or 4"
3980,4603581,4603581_4,qualified,qualified for wave 4,Do not call,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"still together at w4, or some follow-up w/o br..."
3981,4605321,4605321_4,qualified,qualified for wave 4,Withdrawn,Yes,On-line,1.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
3982,4607235,4607235_4,qualified,qualified for wave 4,Do not call,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,4608683,4608683_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
3984,4609371,4609371_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
3985,4610625,4610625_4,qualified,qualified for wave 4,Retired,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,4611531,4611531_4,qualified,qualified for wave 4,Withdrawn,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"still together at w4, or some follow-up w/o br..."
3987,4612421,4612421_4,qualified,qualified for wave 4,Withdrawn,Yes,On-line,0.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
3988,4613511,4613511_4,qualified,qualified for wave 4,Active,Yes,On-line,2.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
3989,4614621,4614621_4,qualified,qualified for wave 4,Retired,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3990,4615215,4615215_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3991,4616615,4616615_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,4617335,4617335_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2, 3, or 4"
3993,4618291,4618291_4,qualified,qualified for wave 4,Active,Yes,On-line,1.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."
3994,4619421,4619421_4,qualified,qualified for wave 4,Withdrawn,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"still together at w4, or some follow-up w/o br..."
3995,4621371,4621371_4,qualified,qualified for wave 4,Active,Yes,On-line,2.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,still together,"still together at w4, or some follow-up w/o br..."
3996,4622461,4622461_4,qualified,qualified for wave 4,Withdrawn,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"still together at w4, or some follow-up w/o br..."
3997,4623505,4623505_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,4625902,4625902_4,disqualified,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,4626536,4626536_4,qualified,qualified for wave 4,Do not call,No,NaN,NaN,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4000,4627251,4627251_4,qualified,qualified for wave 4,Withdrawn,No,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,4628251,4628251_4,qualified,qualified for wave 4,Active,Yes,On-line,1.0,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,still together,"still together at w4, or some follow-up w/o br..."

In [22]:
wv4_w = wave4_full[['caseid_new',
'caseid_wave', #newly added
'qualified?', #newly added
                    
'w4_broke_up',
 'w234_combo_breakup',
 'w4_xqualified',
 'w4_status',
 'w4_complete',
#  'w4_source',
#  'w4_duration',
 'w4_HCMST_interview_fin_yrmo',
 'w4_xtype',
 'w4_xyear',
# 'w4_xmonth',
# 'w4_xmarry',
 'w4_xlast',
# 'w4_xwave1_month',
# 'w4_xcivil',
 'w4_xss',
 'w4_q1',
 'w4_q2',
 'w4_quality',
'relationship_quality_w4',
 'w4_attractive',
 'w4_attractive_partner',
 'w4_q3',
 'w4_q4',
# 'w4_mbtiming_year',
 'w4_mbtiming_month',
 'w4_q5',
 'w4_q6',
 'w4_q7',
# 'w4_mar_year',
# 'w4_mar_month',
 'w4_civ_year',
 'w4_q8_a',
 'w4_q8_b',
 'w4_q9',
 'w4_q10',
# 'w4_nonmbtiming_year',
# 'w4_nonmbtiming_month',
]]

In [23]:
wv4_w

,caseid_new,caseid_wave,qualified?,w4_broke_up,w234_combo_breakup,w4_xqualified,w4_status,w4_complete,w4_HCMST_interview_fin_yrmo,w4_xtype,...,w4_q4,w4_mbtiming_month,w4_q5,w4_q6,w4_q7,w4_civ_year,w4_q8_a,w4_q8_b,w4_q9,w4_q10
0,22526,22526_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,NaN,...,NaN,NaN,Yes,Yes,"No, did not marry [xnamep]",NaN,"No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
1,23286,23286_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25495,25495_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26315,26315_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27355,27355_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,27695,27695_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,28536,28536_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,same-sex couple,...,NaN,NaN,Yes,Yes,"No, did not marry [xnamep]",NaN,"No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
7,29584,29584_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,30393,30393_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,31456,31456_4,qualified,NaN,NaN,qualified for wave 4,Withdrawn,No,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,32656,32656_4,qualified,NaN,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Retired,No,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,33536,33536_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,same-sex couple,...,NaN,NaN,Yes,Yes,"No, did not marry [xnamep]",NaN,"No, we have not gotten a domestic partnership ...",NaN,NaN,NaN
12,34341,34341_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,35653,35653_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,36493,36493_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,37656,37656_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38895,38895_4,qualified,NaN,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,No,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,39415,39415_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,40335,40335_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,41505,41505_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,42645,42645_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,43381,43381_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,44486,44486_4,qualified,broke up,"broke up at wave 2, 3, or 4",qualified for wave 4,Withdrawn,Yes,201303.0,same-sex couple,...,I wanted the [divorce/separation] more,December,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,45653,45653_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46746,46746_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,48225,48225_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,49731,49731_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,50605,50605_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,51376,51376_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,53436,53436_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3972,4595643,4595643_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,4596491,4596491_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,4597381,4597381_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,4598275,4598275_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,4599246,4599246_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3977,4600215,4600215_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3978,4601511,4601511_4,qualified,NaN,NaN,qualified for wave 4,Do not call,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,4602424,4602424_4,qualified,broke up,"broke up at wave 2, 3, or 4",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,We both equally wanted the [divorce/separation],July,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,4603581,4603581_4,qualified,NaN,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Do not call,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,4605321,4605321_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,4607235,4607235_4,qualified,NaN,NaN,qualified for wave 4,Do not call,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,4608683,4608683_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3984,4609371,4609371_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3985,4610625,4610625_4,qualified,NaN,NaN,qualified for wave 4,Retired,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,4611531,4611531_4,qualified,NaN,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,4612421,4612421_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,4613511,4613511_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,4614621,4614621_4,qualified,NaN,NaN,qualified for wave 4,Retired,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3990,4615215,4615215_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3991,4616615,4616615_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,4617335,4617335_4,disqualified,NaN,"broke up at wave 2, 3, or 4",unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3993,4618291,4618291_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,4619421,4619421_4,qualified,NaN,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,4621371,4621371_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,4622461,4622461_4,qualified,NaN,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Withdrawn,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,4623505,4623505_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,4625902,4625902_4,disqualified,NaN,NaN,unqualified for wave 4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,4626536,4626536_4,qualified,NaN,NaN,qualified for wave 4,Do not call,No,NaN,same-sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4000,4627251,4627251_4,qualified,NaN,NaN,qualified for wave 4,Withdrawn,No,NaN,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,4628251,4628251_4,qualified,still together,"still together at w4, or some follow-up w/o br...",qualified for wave 4,Active,Yes,201303.0,different sex couple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Wave 5

In [24]:
wave5_full = df5[[ 'caseid_new',
 'w5_duration',
 'w5_source',
 'w5_complete',
 'w5_status',
 'w5x_qualified',
 'w5x_marry',
 'w5x_last',
 'w5x_year',
 'w5x_civil',
 'w5x_month',
 'w5x_civyear',
 'w5x_civmonth',
 'w5_q1',
 'w5_q2',
 'w5_sex_frequency',
 'w5_p_monogamy',
 'w5_identity',
 'w5_outness',
 'w5_q3',
 'w5_q4',
 'w5_mbtiming_month',
 'w5_mbtiming_year',
 'w5_q5',
 'w5_q6',
 'w5_q7',
 'w5_mar_year',
 'w5_mar_month',
 'w5_q8',
 'w5_civ_year',
 'w5_civ_month',
 'w5_q9',
 'w5_q10',
 'w5_nonmbtiming_year',
 'w5_nonmbtiming_month',
 'w5_broke_up',
 'w5_HCMST_interview_fin_yrmo',
 'w2345_combo_breakup',
 'responded_to_w234or5'
]]

In [25]:
print('-----------------')
print(wave5_full['w5x_qualified'].value_counts())

-----------------
qualified for wave 5        2444
not qualified for wave 5    1558
Name: w5x_qualified, dtype: int64

In [26]:
wave5_full.insert(1,"qualified?","")
wave5_full.insert(1,"caseid_wave","")
print(wave5_full["qualified?"].value_counts())
print(wave5_full["caseid_wave"].value_counts())

    4002
Name: qualified?, dtype: int64
    4002
Name: caseid_wave, dtype: int64

In [27]:
for index, row in wave5_full.iterrows():
    if wave5_full.loc[index,'w5x_qualified'] == "qualified for wave 5":
        wave5_full.loc[index,"qualified?"] = "qualified"
    elif wave5_full.loc[index,'w5x_qualified'] == "not qualified for wave 5":
        wave5_full.loc[index,"qualified?"] = "disqualified"
    wave5_full.loc[index,'caseid_wave'] = f'{wave5_full.loc[index,"caseid_new"]}_5'
print(wave5_full["qualified?"].value_counts())

qualified       2444
disqualified    1558
Name: qualified?, dtype: int64

In [28]:
wv5_w = wave5_full[['caseid_new',
'caseid_wave', #newly added
'qualified?', #newly added

                    
#  'w5_duration',
#  'w5_source',
 'w5_complete',
 'w5_status', # important (better than w5_complete)
 'w5x_qualified',
 'w5x_marry',
 'w5x_last',
 'w5x_year',
 'w5x_civil',
 'w5x_month',
 'w5x_civyear',
#  'w5x_civmonth',
 'w5_q1',
 'w5_q2',
 'w5_sex_frequency',
 'w5_p_monogamy',
 'w5_identity',
 'w5_outness',
  'w5_q3',
  'w5_q4',
  'w5_mbtiming_month',
 'w5_mbtiming_year',
 'w5_q5',
 'w5_q6',
 'w5_q7',
 'w5_mar_year',
 'w5_mar_month',
 'w5_q8',
 'w5_civ_year',
 'w5_civ_month',
  'w5_q9',
  'w5_q10',
 'w5_nonmbtiming_year',
 'w5_nonmbtiming_month',
 'w5_broke_up',
 'w5_HCMST_interview_fin_yrmo',
 'w2345_combo_breakup',
 'responded_to_w234or5',
]]

In [29]:
wv5_w

,caseid_new,caseid_wave,qualified?,w5_complete,w5_status,w5x_qualified,w5x_marry,w5x_last,w5x_year,w5x_civil,...,w5_civ_year,w5_civ_month,w5_q9,w5_q10,w5_nonmbtiming_year,w5_nonmbtiming_month,w5_broke_up,w5_HCMST_interview_fin_yrmo,w2345_combo_breakup,responded_to_w234or5
0,22526,22526_5,qualified,wave 5 completed,Active,qualified for wave 5,unmarried partners,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
1,23286,23286_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,yes civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
2,25495,25495_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26315,26315_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
4,27355,27355_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,27695,27695_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,28536,28536_5,qualified,wave 5 completed,Active,qualified for wave 5,unmarried partners,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
7,29584,29584_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
8,30393,30393_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,31456,31456_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,unmarried partners,5.0,2009.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
10,32656,32656_5,qualified,eligible but not completed,Do not call,qualified for wave 5,unmarried partners,3.0,2011.0,yes civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
11,33536,33536_5,qualified,wave 5 completed,Withdrawn,qualified for wave 5,unmarried partners,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,We broke up,[name] wanted to break up more,2014.0,February,broke up,201412.0,"broke up at wave 2,3,4, or 5",Yes
12,34341,34341_5,qualified,wave 5 completed,Withdrawn,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
13,35653,35653_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
14,36493,36493_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
15,37656,37656_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38895,38895_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,unmarried partners,3.0,2011.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
17,39415,39415_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,40335,40335_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
19,41505,41505_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
20,42645,42645_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,43381,43381_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
22,44486,44486_5,disqualified,NaN,NaN,not qualified for wave 5,married,1.0,2013.0,yes civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
23,45653,45653_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46746,46746_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201411.0,still together at w5 or some follow-up w/o bre...,Yes
25,48225,48225_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
26,49731,49731_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
27,50605,50605_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,51376,51376_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
29,53436,53436_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3972,4595643,4595643_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,4596491,4596491_5,qualified,eligible but not completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
3974,4597381,4597381_5,qualified,eligible but not completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
3975,4598275,4598275_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
3976,4599246,4599246_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
3977,4600215,4600215_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3978,4601511,4601511_5,qualified,eligible but not completed,Do not call,qualified for wave 5,married,5.0,2009.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3979,4602424,4602424_5,disqualified,NaN,NaN,not qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
3980,4603581,4603581_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,married,3.0,2011.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
3981,4605321,4605321_5,qualified,wave 5 completed,Withdrawn,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
3982,4607235,4607235_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,unmarried partners,5.0,2009.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3983,4608683,4608683_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
3984,4609371,4609371_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
3985,4610625,4610625_5,qualified,wave 5 completed,Retired,qualified for wave 5,unmarried partners,5.0,2009.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201502.0,still together at w5 or some follow-up w/o bre...,Yes
3986,4611531,4611531_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,married,3.0,2011.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
3987,4612421,4612421_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
3988,4613511,4613511_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
3989,4614621,4614621_5,qualified,eligible but not completed,Retired,qualified for wave 5,married,5.0,2009.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3990,4615215,4615215_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3991,4616615,4616615_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,4617335,4617335_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"broke up at wave 2,3,4, or 5",Yes
3993,4618291,4618291_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201501.0,still together at w5 or some follow-up w/o bre...,Yes
3994,4619421,4619421_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,married,3.0,2011.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
3995,4621371,4621371_5,qualified,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,still together,201412.0,still together at w5 or some follow-up w/o bre...,Yes
3996,4622461,4622461_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,married,4.0,2010.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes
3997,4623505,4623505_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,4625902,4625902_5,disqualified,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,4626536,4626536_5,qualified,eligible but not completed,Do not call,qualified for wave 5,unmarried partners,5.0,2009.0,yes civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4000,4627251,4627251_5,qualified,eligible but not completed,Withdrawn,qualified for wave 5,married,5.0,2009.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4001,4628251,4628251_5,qualified,eligible but not completed,Do not call,qualified for wave 5,married,1.0,2013.0,no civil union or DP prior to wave 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,still together at w5 or some follow-up w/o bre...,Yes

# Wave 6

In [30]:
#everything
wave6_full = df6[['caseid_new',
 'xw6_year',
 'xw6_month',
 'xw6_last',
 'xw6_marry',
 'w6_still_mar',
 'w6_live_together',
 'w6_otherdate',
 'w6_how_many',
  'w6_otherdate_app',
 'w6_how_many_app',
 'w6_relationship_end_mar',
 'w6_who_breakup',
 'w6_mbtiming_Year',
 'w6_mbtiming_Month',
 'w6_partner_passaway_Year',
 'w6_partner_passaway_Month',
  'w6_otherdate_B',
  'w6_how_many_B',
  'w6_otherdate_app_B',
  'w6_how_many_app_B',
 'w6_still_rel',
 'w6_live_together_C',
 'w6_got_married',
 'w6_martiming_Year',
  'w6_martiming_Month',
 'w6_otherdate_C',
 'w6_how_many_C',
 'w6_otherdate_app_C',
 'w6_how_many_app_C',
 'w6_relationship_end_nonmar',
 'w6_who_breakup_C',
 'w6_nonmbtiming_Year',
  'w6_nonmbtiming_Month',
 'w6_partner_passaway_C_Year',
  'w6_partner_passaway_C_Month',
  'w6_otherdate_C2',
  'w6_how_many_C2',
  'w6_otherdate_app_C2',
  'w6_how_many_app_C2',
 'w6_relate_status',
 'w6_broke_up',
 'w6_met_through_friends',
 'w6_met_through_family',
 'w6_met_online',
 'w6_met_through_as_coworkers',
 'w6_met_online_dating',
 'w6_met_bar_restaurant',
'w6_how_met_story_length',
 'w6_combo_live_together',
 'w6_otherdate_combo',
 'w6_how_many_combo',
 'w6_otherdate_app_combo',
 'w6_how_many_app_combo',
 'w6_HCMST_yrmo'    
]]

In [31]:
wave6_full.insert(1,"qualified?","")
wave6_full.insert(1,"caseid_wave","")

print(wave6_full["qualified?"].value_counts())
print(wave6_full["caseid_wave"].value_counts())

    640
Name: qualified?, dtype: int64
    640
Name: caseid_wave, dtype: int64

In [32]:
for index, row in wave6_full.iterrows():
#     if wave6_full.loc[index,'w6x_qualified'] == "qualified for wave 6":
#         wave6_full.loc[index,"qualified?"] = "qualified"
#     elif wave6_full.loc[index,'w6x_qualified'] == "not qualified for wave 6":
#         wave6_full.loc[index,"qualified?"] = "disqualified"
    wave6_full.loc[index,'caseid_wave'] = f'{wave6_full.loc[index,"caseid_new"]}_6'
print(wave6_full["qualified?"].value_counts())

    640
Name: qualified?, dtype: int64

In [33]:
wv6_w = wave6_full[['caseid_new',
'caseid_wave',
                    
 'xw6_year',
 'xw6_month',
 'xw6_last',
 'xw6_marry',
 'w6_still_mar',
 'w6_live_together',
 'w6_otherdate',
 'w6_how_many',
#  'w6_otherdate_app',
 'w6_how_many_app',
 'w6_relationship_end_mar',
 'w6_who_breakup',
 'w6_mbtiming_Year',
 'w6_mbtiming_Month',
 'w6_partner_passaway_Year',
 'w6_partner_passaway_Month',
#  'w6_otherdate_B',
#  'w6_how_many_B',
#  'w6_otherdate_app_B',
#  'w6_how_many_app_B',
 'w6_still_rel',
 'w6_live_together_C',
 'w6_got_married',
 'w6_martiming_Year',
#  'w6_martiming_Month',
 'w6_otherdate_C',
 'w6_how_many_C',
 'w6_otherdate_app_C',
 'w6_how_many_app_C',
 'w6_relationship_end_nonmar',
 'w6_who_breakup_C',
 'w6_nonmbtiming_Year',
#  'w6_nonmbtiming_Month',
 'w6_partner_passaway_C_Year',
#  'w6_partner_passaway_C_Month',
#  'w6_otherdate_C2',
#  'w6_how_many_C2',
#  'w6_otherdate_app_C2',
#  'w6_how_many_app_C2',
 'w6_relate_status',
 'w6_broke_up',
 'w6_met_through_friends',
 'w6_met_through_family',
 'w6_met_online',
 'w6_met_through_as_coworkers',
 'w6_met_online_dating',
 'w6_met_bar_restaurant',
#  'w6_how_met_story_length',
 'w6_combo_live_together',
 'w6_otherdate_combo',
 'w6_how_many_combo',
 'w6_otherdate_app_combo',
 'w6_how_many_app_combo',
 'w6_HCMST_yrmo'    
]]

In [34]:
wv6_w

,caseid_new,caseid_wave,xw6_year,xw6_month,xw6_last,xw6_marry,w6_still_mar,w6_live_together,w6_otherdate,w6_how_many,...,w6_met_online,w6_met_through_as_coworkers,w6_met_online_dating,w6_met_bar_restaurant,w6_combo_live_together,w6_otherdate_combo,w6_how_many_combo,w6_otherdate_app_combo,w6_how_many_app_combo,w6_HCMST_yrmo
0,22526,22526_6,2014,December,3,unmarried partners,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
1,28536,28536_6,2014,December,3,unmarried partners,NaN,NaN,NaN,NaN,...,yes,no,no,no,yes,"Yes, I have met at least one person for dating...",Six to Twenty people. I met between six and tw...,"Yes, I have used a phone dating app in the pas...","Two to Five people. Using phone apps, I met be...",201707
2,29584,29584_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
3,48225,48225_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
4,49731,49731_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
5,58295,58295_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
6,64331,64331_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
7,68546,68546_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
8,83431,83431_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
9,103545,103545_6,2014,December,3,unmarried partners,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,no,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
10,114276,114276_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
11,117401,117401_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201708
12,126231,126231_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
13,128441,128441_6,2014,December,3,married,No,NaN,NaN,NaN,...,yes,no,yes,no,no,"Yes, I have met at least one person for dating...",Two to Five people. I met between two and five...,"No, I have not used a phone dating app in the ...",NaN,201707
14,134275,134275_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
15,155561,155561_6,2015,February,2,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
16,156486,156486_6,2014,December,3,unmarried partners,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
17,157421,157421_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
18,163195,163195_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201708
19,166381,166381_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
20,168646,168646_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
21,171391,171391_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
22,172291,172291_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
23,179461,179461_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
24,187511,187511_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
25,189411,189411_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
26,192341,192341_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
27,194441,194441_6,2015,March,2,married,No,NaN,NaN,NaN,...,yes,no,yes,no,no,"Yes, I have met at least one person for dating...",One person. I met only one person besides PART...,"No, I have not used a phone dating app in the ...",NaN,201707
28,202631,202631_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
29,205421,205421_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,4394621,4394621_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
611,4395551,4395551_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
612,4398711,4398711_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
613,4399291,4399291_6,2013,April,4,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
614,4402581,4402581_6,2015,January,2,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
615,4412621,4412621_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
616,4423471,4423471_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
617,4431503,4431503_6,2015,February,2,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
618,4442531,4442531_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
619,4454501,4454501_6,2015,March,2,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
620,4463541,4463541_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
621,4464341,4464341_6,2015,February,2,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
622,4470571,4470571_6,2015,March,2,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
623,4486613,4486613_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
624,4490391,4490391_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
625,4500533,4500533_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
626,4514371,4514371_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
627,4520291,4520291_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
628,4524561,4524561_6,2015,January,2,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
629,4526441,4526441_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
630,4529391,4529391_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
631,4530271,4530271_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
632,4537711,4537711_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
633,4553431,4553431_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
634,4558443,4558443_6,2014,November,3,unmarried partners,NaN,NaN,NaN,NaN,...,no,no,no,yes,no,"Yes, I have met at least one person for dating...",One person. I met only one person besides PART...,"No, I have not used a phone dating app in the ...",NaN,201708
635,4563631,4563631_6,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
636,4583501,4583501_6,2015,March,2,married,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,no,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201708
637,4597381,4597381_6,2013,March,4,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
638,4613511,4613511_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
639,4621371,4621371_6,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,...,NaN,NaN,NaN,NaN,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707

In [35]:
print(f'wave2 table shape: {wv2_w.shape}')
print(f'wave3 table shape: {wv3_w.shape}')
print(f'wave4 table shape: {wv4_w.shape}')
print(f'wave5 table shape: {wv5_w.shape}')
print(f'wave6 table shape: {wv6_w.shape}')

wave2 table shape: (3009, 22)
wave3 table shape: (3009, 28)
wave4 table shape: (4002, 30)
wave5 table shape: (4002, 38)
wave6 table shape: (640, 43)

In [36]:
print(wv2_w['qualified?'].value_counts())
print('-----------------')
print(wv3_w['qualified?'].value_counts())
print('-----------------')
print(wv4_w['qualified?'].value_counts())
print('-----------------')
print(wv5_w['qualified?'].value_counts())

qualified    3009
Name: qualified?, dtype: int64
-----------------
qualified       2689
disqualified     320
Name: qualified?, dtype: int64
-----------------
qualified       2557
disqualified    1445
Name: qualified?, dtype: int64
-----------------
qualified       2444
disqualified    1558
Name: qualified?, dtype: int64

# Sqlite

In [37]:
connection_string = "Relationship_survey.sqlite"
engine2 = create_engine(f'sqlite:///{connection_string}')
engine2.table_names() # now it's empty

[]

In [38]:
wv2_w.to_sql(name="wv2_w", con=engine2, if_exists='replace', index=True)
wv3_w.to_sql(name="wv3_w", con=engine2, if_exists='replace', index=True)
wv4_w.to_sql(name="wv4_w", con=engine2, if_exists='replace', index=True)
wv5_w.to_sql(name="wv5_w", con=engine2, if_exists='replace', index=True)
wv6_w.to_sql(name="wv6_w", con=engine2, if_exists='replace', index=True)
#wv2_w.to_sql(name="wv1_pp", con=engine2, if_exists='replace', index=True)
engine2.table_names()

['wv2_w', 'wv3_w', 'wv4_w', 'wv5_w', 'wv6_w']

In [39]:
# check if data has been stored properly 

sqlite_wv2_w=engine2.execute("SELECT * FROM wv2_w").fetchall()
for elem in sqlite_wv2_w[0:5]:
    print(elem)
    print("\n")

(0, 22526, '22526_2', 'qualified', 'still together', 'partnered', 'not deceased', 'withdrawn kn panelist', 'all other cases', 'assigned to survey', 'completed followup survey', 201003.0, 'yes, qualified to ask about new domestic parterships', None, 'yes', None, None, None, 'yes', 'no, did not marry [partner]', 'no, we have not gotten a domestic partnership or civil union agreement', None, None)


(1, 23286, '23286_2', 'qualified', 'still together', 'married', 'not deceased', 'withdrawn kn panelist', 'all other cases', 'assigned to survey', 'completed followup survey', 201003.0, 'no', 'yes', None, 'yes', None, None, None, None, None, None, None)


(3, 26315, '26315_2', 'qualified', 'broke up', 'partnered', 'not deceased', 'withdrawn kn panelist', 'all other cases', 'assigned to survey', 'completed followup survey', 201003.0, 'yes, qualified to ask about new domestic parterships', None, 'no', None, None, None, None, None, None, 'we broke up', 'i wanted to break up more')


(6, 28536, '28536_2', 'qualified', 'still together', 'partnered', 'not deceased', 'active kn panelist', 'all other cases', 'assigned to survey', 'completed followup survey', 201003.0, 'yes, qualified to ask about new domestic parterships', None, 'yes', None, None, None, 'yes', 'no, did not marry [partner]', 'no, we have not gotten a domestic partnership or civil union agreement', None, None)


(7, 29584, '29584_2', 'qualified', 'still together', 'married', 'not deceased', 'active kn panelist', 'all other cases', 'assigned to survey', 'completed followup survey', 201003.0, 'no', 'yes', None, 'no', None, None, None, None, None, None, None)