In [26]:
import pandas as pd

## Original and Wave 1-3

In [27]:
df_wv1_3=pandas.read_stata("HCMST_ver_3.04.dta")
df_wv1_3.head()

,caseid_new,weight1,weight2,ppage,ppagecat,ppagect4,ppeduc,ppeducat,ppethm,ppgender,...,w3_mbtiming_year,w3_mbtiming_month,w3_q5,w3_q6,w3_q7,w3_q8,w3_q9,w3_q10,w3_nonmbtiming_year,w3_nonmbtiming_month
0,22526,4265,4265.0,52,45-54,45-59,bachelors degree,bachelor's degree or higher,hispanic,female,...,NaN,NaN,yes,yes,"no, did not marry [xNameP]","No, we have not gotten a domestic partnership ...",NaN,NaN,NaN,NaN
1,23286,16485,16485.0,28,25-34,18-29,masters degree,bachelor's degree or higher,"white, non-hispanic",female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25495,52464,NaN,49,45-54,45-59,high school graduate - high school diploma or ...,high school,"black, non-hispanic",female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26315,4575,4575.0,31,25-34,30-44,associate degree,some college,"white, non-hispanic",male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27355,12147,NaN,35,35-44,30-44,high school graduate - high school diploma or ...,high school,"white, non-hispanic",male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_wv1_3.shape

(4002, 387)

In [29]:
columns = df_wv1_3.columns
df=pd.DataFrame(columns)
df.to_csv("wave_1_to_3_columns.csv",index=False,header=False)

## Wave 4

In [30]:
df_wv4=pandas.read_stata("wave_4_supplement_v1_2.dta")
df_wv4.head()

,caseid_new,w4_xqualified,w4_status,w4_complete,w4_source,w4_duration,w4_HCMST_interview_fin_yrmo,w4_xtype,w4_xyear,w4_xmonth,...,pp4_ppt25,pp4_ppt612,pp4_ppt1317,pp4_ppt18ov,pp4_ppwork,pp4_ppnet,pp4_ppcmdate_yrmo,pp4_newer,ppa2009_services_yrmo,ppa2009_how_often_services
0,22526,qualified for wave 4,Active,Yes,On-line,3.0,201303.0,NaN,NaN,NaN,...,0,0,0,2,Not working - disabled,Yes,NaN,Yes,NaN,NaN
1,23286,qualified for wave 4,Active,Yes,On-line,0.0,201303.0,NaN,NaN,NaN,...,0,0,0,2,Working - as a paid employee,Yes,NaN,Yes,NaN,NaN
2,25495,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,3,Working - as a paid employee,Yes,201305.0,Yes,200903.0,More than once a week
3,26315,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,Working - as a paid employee,Yes,201309.0,Yes,200903.0,Never
4,27355,unqualified for wave 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,2,Working - self-employed,Yes,201305.0,Yes,200903.0,A few times a year

In [31]:
df_wv4.shape

(4002, 62)

In [32]:
df_wv4.columns

Index(['caseid_new', 'w4_xqualified', 'w4_status', 'w4_complete', 'w4_source',
       'w4_duration', 'w4_HCMST_interview_fin_yrmo', 'w4_xtype', 'w4_xyear',
       'w4_xmonth', 'w4_xmarry', 'w4_xlast', 'w4_xwave1_month', 'w4_xcivil',
       'w4_xss', 'w4_q1', 'w4_q2', 'w4_quality', 'w4_attractive',
       'w4_attractive_partner', 'w4_q3', 'w4_q4', 'w4_mbtiming_year',
       'w4_mbtiming_month', 'w4_q5', 'w4_q6', 'w4_q7', 'w4_mar_year',
       'w4_mar_month', 'w4_civ_year', 'w4_q8_a', 'w4_q8_b', 'w4_q9', 'w4_q10',
       'w4_nonmbtiming_year', 'w4_nonmbtiming_month',
       'relationship_quality_w4', 'w4_broke_up', 'w234_combo_breakup',
       'pp4_ppeduc', 'pp4_ppeducat', 'pp4_ppethm', 'pp4_pphhhead',
       'pp4_pphhsize', 'pp4_pphouse', 'pp4_ppincimp', 'pp4_ppmarit',
       'pp4_ppmsacat', 'pp4_ppreg4', 'pp4_ppreg9', 'pp4_pprent', 'pp4_ppt01',
       'pp4_ppt25', 'pp4_ppt612', 'pp4_ppt1317', 'pp4_ppt18ov', 'pp4_ppwork',
       'pp4_ppnet', 'pp4_ppcmdate_yrmo', 'pp4_newer', 'ppa2009_services_yrmo',
       'ppa2009_how_often_services'],
      dtype='object')

In [38]:
columns = df_wv4.columns
df=pd.DataFrame(columns)
df.to_csv("wv4_columns.csv",index=False,header=False)

In [40]:
# try joining wave 4 to wave 1-3
joined_1_to_4=pd.merge(df_wv1_3,df_wv4,on="caseid_new")
joined_1_to_4.head()

,caseid_new,weight1,weight2,ppage,ppagecat,ppagect4,ppeduc,ppeducat,ppethm,ppgender,...,pp4_ppt25,pp4_ppt612,pp4_ppt1317,pp4_ppt18ov,pp4_ppwork,pp4_ppnet,pp4_ppcmdate_yrmo,pp4_newer,ppa2009_services_yrmo,ppa2009_how_often_services
0,22526,4265,4265.0,52,45-54,45-59,bachelors degree,bachelor's degree or higher,hispanic,female,...,0,0,0,2,Not working - disabled,Yes,NaN,Yes,NaN,NaN
1,23286,16485,16485.0,28,25-34,18-29,masters degree,bachelor's degree or higher,"white, non-hispanic",female,...,0,0,0,2,Working - as a paid employee,Yes,NaN,Yes,NaN,NaN
2,25495,52464,NaN,49,45-54,45-59,high school graduate - high school diploma or ...,high school,"black, non-hispanic",female,...,0,0,0,3,Working - as a paid employee,Yes,201305.0,Yes,200903.0,More than once a week
3,26315,4575,4575.0,31,25-34,30-44,associate degree,some college,"white, non-hispanic",male,...,0,0,0,1,Working - as a paid employee,Yes,201309.0,Yes,200903.0,Never
4,27355,12147,NaN,35,35-44,30-44,high school graduate - high school diploma or ...,high school,"white, non-hispanic",male,...,0,0,0,2,Working - self-employed,Yes,201305.0,Yes,200903.0,A few times a year

In [41]:
joined_1_to_4.shape

(4002, 448)

## Wave 5

In [43]:
df_wv5=pandas.read_stata("HCMST_wave_5_supplement_ver_1.dta")
df_wv5.head()

,caseid_new,w5_duration,w5_source,w5_complete,w5_status,w5x_qualified,w5x_marry,w5x_last,w5x_year,w5x_civil,...,ppmarit_2012,ppcmarit_2012_yrmo,ppmarit_2011,ppcmarit_2011_yrmo,ppmarit_2010,ppcmarit_2010_yrmo,ppmarit_2009,ppcmarit_2009_yrmo,ppmarit_2007,ppcmarit_2007_yrmo
0,22526,1.0,online,wave 5 completed,Active,qualified for wave 5,unmarried partners,1.0,2013.0,no civil union or DP prior to wave 5,...,Living with partner,201207.0,Living with partner,201107.0,Living with partner,201007.0,Living with partner,200905.0,Living with partner,200711.0
1,23286,0.0,online,wave 5 completed,Active,qualified for wave 5,married,1.0,2013.0,yes civil union or DP prior to wave 5,...,Living with partner,201208.0,Married,201106.0,Living with partner,201007.0,Married,200904.0,Living with partner,200711.0
2,25495,NaN,NaN,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,Never married,201206.0,Never married,201106.0,Never married,201007.0,Never married,200904.0,Never married,200711.0
3,26315,NaN,NaN,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,Never married,201206.0,Never married,201106.0,Never married,201007.0,Never married,200905.0,Never married,200710.0
4,27355,NaN,NaN,NaN,NaN,not qualified for wave 5,NaN,NaN,NaN,NaN,...,Never married,201206.0,Never married,201106.0,Never married,201005.0,Never married,200904.0,Never married,200710.0

In [44]:
df_wv5.shape

(4002, 78)